<div class="pg-t4">
<style>
  .pg-t4 table.use { table-layout: fixed; }
  .pg-t4 table.use th, .pg-t4 table.use td { font-size: 9.5pt; text-align: center; }
  .pg-t4 .lefttext { text-align: left !important; }
  .pg-t4 .notes { font-size: 9pt; margin-top: 2.5mm; line-height: 1.5; }
</style>

<div class="bold"><span style="display:inline-block;width:10mm;">7</span>ಟ್ರ್ಯಾಕ್ಟರ : ಪವರ್ ಟಿಲ್ಲರ್ ಯಂತ್ರದ ಬಳಕೆ : (ಗಂಟೆಗಳಲ್ಲಿ)</div>
<div style="margin-left:12mm; margin-bottom:1.5mm;">(ಅ)&nbsp; (1)&nbsp; ಸ್ವಂತ ಉಪಯೋಗ :</div>

<table class="bordered use">
  <tr>
    <th style="width:12mm;">ಕ್ರಮ ಸಂಖ್ಯೆ</th>
    <th style="width:32mm;">ಬೆಳೆಗಳು</th>
    <th>ಮುಂಗಾರು</th>
    <th>ಹಿಂಗಾರು</th>
    <th>ಬೇಸಿಗೆ</th>
    <th style="width:22mm;">ಒಟ್ಟು ಗಂಟೆಗಳು</th>
  </tr>
  <tr>
    <td></td>
    <td class="lefttext" style="padding:2mm 4mm; line-height:2.4;">
      ಹತ್ತಿ<br>ಗೋ.ಜೋಳ<br>ಕಬ್ಬು<br>ಕಾಯಿಪಲ್ಲೆಗಳು<br>ಇತರೆ
    </td>
    <td></td><td></td><td></td>
    <td class="value">600<br>ಗಂಟೆಗಳು</td>
  </tr>
</table>

<table style="margin:1.5mm 0;">
  <tr>
    <td style="width:14mm;"></td>
    <td style="width:78mm; font-size:9.5pt;">
      (2)&nbsp; ಪಾಲನೆ ವೆಚ್ಚ (ಒಟ್ಟು ಅವಧಿ ಕೆಲಸ ಮತ್ತು<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ಇತರೆ ವೆಚ್ಚಗಳು, ವರ್ಷದಲ್ಲಿ)
    </td>
    <td style="vertical-align:middle;">ರೂ.&nbsp;&nbsp;<span class="value">20000</span></td>
  </tr>
</table>

<div style="margin-left:12mm; margin-bottom:1.5mm;">(ಆ)&nbsp; ಬಾಡಿಗೆಗೆ ಉಪಯೋಗ : (ಗಂಟೆಗಳಲ್ಲಿ)</div>

<table class="bordered use">
  <tr>
    <th rowspan="2" style="width:12mm;">ಕ್ರಮ ಸಂಖ್ಯೆ</th>
    <th rowspan="2" style="width:52mm;">ಕಾರ್ಯಗಳ ವಿವರ</th>
    <th colspan="3">ಋತುಗಳು</th>
    <th rowspan="2" style="width:24mm;">ಒಟ್ಟು ಗಂಟೆಗಳು</th>
  </tr>
  <tr>
    <th>ಮುಂಗಾರು</th>
    <th>ಹಿಂಗಾರು</th>
    <th>ಬೇಸಿಗೆ</th>
  </tr>
  <tr>
    <td></td>
    <td class="lefttext" style="padding:2.5mm 5mm; line-height:2.5;">
      ನೇಗಿಲ ಕೆಲಸ<br>ಟ್ರೇಲರ ಕೆಲಸ<br>ರೂಟರ ಕೆಲಸ<br>ಭೂ ಸಮತಳಗೊಳಿಸುವದು<br>ಕುಂಟೆ ಕೆಲಸ
    </td>
    <td></td><td></td><td></td>
    <td class="value">600 ಗಂಟೆಗಳು</td>
  </tr>
</table>

<div style="margin:3mm 0 1.5mm 12mm;">(ಇ)&nbsp; ಬಾಡಿಗೆಯಿಂದ ಲಭ್ಯವಾಗುವ ಆದಾಯ : (ರೂ. ಗಳಲ್ಲಿ)</div>

<table class="bordered use">
  <tr>
    <th>ಬಾಡಿಗೆಯ ಒಟ್ಟು<br>ಅವಧಿಯ<br>(ತಾಸು)(7ಆ)</th>
    <th>ಪ್ರತಿ ಗಂಟೆಗೆ ಸರಾಸರಿ ದರ</th>
    <th>ಆದಾಯ<br>(1x2)</th>
    <th>ಪಾಲನೆಯ<br>ಒಟ್ಟು<br>ಖರ್ಚು</th>
    <th>ಒಟ್ಟು ಬಾಡಿಗೆ<br>ಆದಾಯ (3–4)</th>
    <th>ಸ್ವಂತ<br>ಉಪಯೋಗ<br>ಖರ್ಚು 7 : (2)</th>
    <th>ನಿವ್ವಳ ಬಾಡಿಗೆ<br>ಆದಾಯ (5–6)</th>
  </tr>
  <tr>
    <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td>
  </tr>
  <tr style="height:16mm;">
    <td class="value">600<br>ಗಂಟೆಗಳು</td>
    <td class="value">ರೂ. 400</td>
    <td class="value">120000</td>
    <td class="value">20000</td>
    <td class="value">100000</td>
    <td class="value">20000</td>
    <td class="value">80000</td>
  </tr>
</table>

<div class="notes">
  <span class="bold">ವಿಶೇಷ ಸೂಚನೆ :</span> (1) ಸ್ವಂತ ಬಳಕೆ :<br>
  <span style="display:inline-block;width:16mm;"></span>(ಅ) ಪ್ರತಿ ಬೆಳೆ ನಾಟಿಗೆ ವಿವಿಧ ಕಾರ್ಯಗಳಿಗೆ ಉಪಯೋಗಿಸುವ ಅವಧಿ ಲೆಕ್ಕ ಹಾಕುವುದು<br>
  <span style="display:inline-block;width:16mm;"></span>(ಆ) ವರ್ಷದ ಪಾಲನೆ ಸಂಗೋಪನೆ ಖರ್ಚು ಒಟ್ಟು ಅವಧಿಯನ್ನವಲಂಬಿಸಿ ಲೆಕ್ಕ ಹಾಕುವುದು<br>
  <span style="display:inline-block;width:8mm;"></span>(2) ಬಾಡಿಗೆ ಕಾರ್ಯ : ಸಾಮಾನ್ಯವಾಗಿ ಬಾಡಿಗೆಗೆ ಲಭ್ಯವಾಗುವ ಕೆಲಸ–ಅವಧಿ ನಿಖರವಾಗಿ ಸೂಚಿಸಬೇಕು.<br>
  <span style="display:inline-block;width:8mm;"></span>(3) ಬಾಡಿಗೆ : ಆದಾಯ : ವರ್ಷದಲ್ಲಿ ಎಲ್ಲಾ ಕಾರ್ಯಗಳ ಅವಧಿ ಗಣನೆಗೆ ತೆಗೆದುಕೊಳ್ಳತಕ್ಕದ್ದು
</div>
</div>
